@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    color: #333333;

    box-sizing: border-box;
}
a {
    color: #333333;
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}

#wrap {
    width: 1000px;
    height: 650px;

    display: flex;
    position: relative;
}

/* aside */
#aside {
    width: 200px;
    height: 650px;
}
#aside .logo {
    width: 200px;
    height: 100px;
    /* background-color: #c9c9c9; */
    /* border: 1px solid #333; */
}
/* // 로고 */

#aside .nav {
    width: 200px;
    height: 550px;
    /* background-color: #bcbcbc; */
}
.nav ul {
    /* width: 200px;  여기에 넓이를 넣으면 submenu에도 영향을 미친다.*/
}
.nav ul > li {
    position: relative;
}
.nav ul > li > a {
    display: block; 
    width: 200px;
    background-color: #fff;
    padding: 10px;
    /* border: 1px solid #333;    border로 확인 잘 할 것*/
    text-align: center;
}
.nav ul > li:hover > a {
    background-color: #3013ef;
    color: #fff;
}
.nav ul > li > a:focus {
    background-color: #3013ef;
    color: #fff;
}

.nav ul > li > ul {
    position: absolute;
    left: 200px;
    top: -41px;
    height: 200px;
    background-color: #3013ef;              

    display: none;
    z-index: 1000;
}
/* .nav ul > li > ul > li {} */
.nav ul > li > ul > li > a {
    width: 200px;
    background-color: #3013ef;
    color: #fff;
}
.nav ul > li > ul > li > a:hover {
    width: 200px;
    background-color: #fff;
    color: #3013ef;
}
.nav ul > li > ul > li > a:focus {
    width: 200px;
    background-color: #fff;
    color: #3013ef;
}
/* /menu */

/* main */
#main {
    width: 800px;
    height: 650px;
}
/* slider */
#slider {
    width: 800px;
    height: 350px;
    /* background-color: #cbc9c9; */

    overflow: hidden;
}
#slider .sliderWrap {
    width: 2400px;
    height: 350px;
    display: flex;

    /* border: 5px solid red; */
}
/* #slider .sliderWrap .slider{} */

/* contents */
#contents {
    width: 800px;
    height: 200px;
    display: flex;
}
#contents .notice {
    width: 300px;
    height: 200px;
    /* background-color: #c2b9b9; */
}
#contents .notice h2{
    /* border: 1px solid #333; */
    margin: 10px 0;
}
#contents .notice ul{
    width: 300px;
    height: 150px;
    /* border: 1px solid #333; */
}
#contents .notice ul li{
    width: 300px;
    height: 35px;
    /* border: 1px solid #333; */

    display: flex;
    align-items: center;
}
#contents .notice ul li a {
    display: block;
    /* border: 1px solid #333; */
    width: 250px;
}
#contents .notice ul li a:hover {
    text-decoration: underline;
}
#contents .notice ul li span {
    display: block;
    /* border: 1px solid #333; */
    width: 50px;
    font-size: 15px;
}

#contents .gall {
    width: 300px;
    height: 200px;
}
.gall h2 {
    width: 300px;
    margin: 10px;
}
.gall ul {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gall ul li a img {
    width: 90px;
    height: 90px;
}
.gall ul li a:hover {
    opacity: 0.5;
}

#contents .banner {
    width: 200px;
    height: 200px;
    /* background-color: #9c9494; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#contents .banner img{
    width: 190px;
    height: 190px;
    /* border: 4px solid #9c9494; */
}
#contents .banner h3{
    position: absolute;
    background-color: rgba(124, 82, 230, 0.923);
    padding: 10px;
}
#contents .banner a{
    color: #fff;
}


#footer {
    width: 800px;
    height: 100px;
    display: flex;
}
#footer .logo {
    width: 150px;
    height: 100px;
    /* background-color: #b2b2b2; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .logo img {
    width: 150px;
    height: auto;
}
#footer .copyright {
    width: 500px;
    height: 100px;
    /* background-color: #9b9a9a; */
    display: flex;
    align-items: center;
}
#footer .copyright p {
    padding: 10px;
    font-size: 10px;
    line-height: 15px;
}
#footer .site {
    width: 150px;
    height: 100px;
    /* background-color: #838383; */
    display: flex;
    align-items: center;
}


.popup-cont {
    width: 300px;
    height: 300px;
    background-color: #f3e580;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;
}
.popup-cont h1 {
    margin: 10px;
}
.popup-cont ul {
    width: 300px;
    height: 180px;
    /* border: 1px solid #333; */
    padding: 10px;
}
.popup-cont ul li {
    width: 250px;
    height: 40px;
    /* border: 1px solid #333; */
}
.popup-cont div {
    width: 300px;
    display: flex;
    justify-content: center;
}
.popup-cont a {
    display: block;
    padding: 10px;
    background-color: #9f9ce8;
    color: #fff;
}

