@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    color: #333333;

    box-sizing: border-box;
}
a {
    color: #333333;
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}

#wrap {
    width: 1000px;
    height: 650px;

    display: flex;
}

/* aside */
#aside {
    width: 200px;
    height: 650px;
}
#aside .logo {
    width: 200px;
    height: 100px;
    /* background-color: #c9c9c9; */
    /* border: 1px solid #333; */
}
/* // 로고 */

#aside .nav {
    width: 200px;
    height: 550px;
    /* background-color: #bcbcbc; */
}
.nav ul {
    /* width: 200px;  여기에 넓이를 넣으면 submenu에도 영향을 미친다.*/
}
.nav ul > li {
    position: relative;
}
.nav ul > li > a {
    display: block; 
    width: 200px;
    background-color: #fff;
    padding: 10px;
    /* border: 1px solid #333;    border로 확인 잘 할 것*/
    text-align: center;
}
.nav ul > li:hover > a {
    background-color: #3013ef;
    color: #fff;
}
.nav ul > li > a:focus {
    background-color: #3013ef;
    color: #fff;
}

.nav ul > li > ul {
    position: absolute;
    left: 200px;
    top: -41px;
    height: 200px;
    background-color: #3013ef;              

    display: none;
    z-index: 1000;
}
/* .nav ul > li > ul > li {} */
.nav ul > li > ul > li > a {
    width: 200px;
    background-color: #3013ef;
    color: #fff;
}
.nav ul > li > ul > li > a:hover {
    width: 200px;
    background-color: #fff;
    color: #3013ef;
}
.nav ul > li > ul > li > a:focus {
    width: 200px;
    background-color: #fff;
    color: #3013ef;
}
/* /menu */

/* main */
#main {
    width: 800px;
    height: 650px;
}
/* slider */
#slider {
    width: 800px;
    height: 350px;
    /* background-color: #cbc9c9; */

    overflow: hidden;
}
#slider .sliderWrap {
    width: 2400px;
    height: 350px;
    display: flex;

    /* border: 5px solid red; */
}
/* #slider .sliderWrap .slider{} */

/* contents */
#contents {
    width: 800px;
    height: 200px;
    display: flex;
}
#contents .notice {
    width: 300px;
    height: 200px;
    background-color: #c2b9b9;
}
#contents .gall {
    width: 300px;
    height: 200px;
    background-color: #b4adad;
}
#contents .banner {
    width: 200px;
    height: 200px;
    background-color: #9c9494;
}

#footer {
    width: 800px;
    height: 100px;
    display: flex;
}
#footer .logo {
    width: 150px;
    height: 100px;
    background-color: #b2b2b2;
}
#footer .copyright {
    width: 500px;
    height: 100px;
    background-color: #9b9a9a;
}
#footer .site {
    width: 150px;
    height: 100px;
    background-color: #838383;
}